DOMAIN_NAME=dinguyen.42.fr
DATA_PATH=/home/dinguyen/data

MYSQL_DATABASE=wordpress_db
MYSQL_USER=wpuser
MYSQL_PASSWORD=changeme
MYSQL_ROOT_PASSWORD=changeme

WP_ADMIN_USER=NOTADMIN
WP_ADMIN_PASSWORD=changeme
WP_ADMIN_EMAIL=user@42.fr

WP_USER=user
WP_USER_PASSWORD=changeme
WP_USER_EMAIL=user@42.fr

FTP_USER=ftpuser
FTP_PASSWORD=changeme

