# Secrets
.env
srcs/.env
secrets/
*.env

# Données persistantes
data/
.sql.bak

# Fichiers systeme
.DS_Store
Thumbs.db

# Logs
*.log

# Editeurs
*.swp
*~
.vscode/
.idea/

# Correction
CORRECTION_GUIDE.md
